[submodule "dep/afs"]
	path = dep/afs
	url = git@github.com:piql/afs
[submodule "dep/stb"]
	path = dep/stb
	url = git@github.com:nothings/stb
[submodule "dep/ivm_testdata"]
	path = dep/ivm_testdata
	url = git@github.com:immortalvm/testdata
[submodule "dep/raylib"]
	path = dep/raylib
	url = git@github.com:raysan5/raylib
