name: CI
on: [push, pull_request]
jobs:
  build:
    name: Build & Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2025, macos-15]
        mode: [debug, release]
        include:
          - os: ubuntu-24.04
            mode: debug
            build_command: ./build.c -DASAN
            run_command: ./out/exe/unbox dep/ivm_testdata/reel/png out/data
            doctest_command: ./out/exe/doc_example_program
            artifact_name: unbox-debug-x86_64-linux
          - os: ubuntu-24.04
            mode: release
            build_command: ./build.c -DRELEASE
            run_command: ./out/exe/unbox dep/ivm_testdata/reel/png out/data
            doctest_command: ./out/exe/doc_example_program
            artifact_name: unbox-release-x86_64-linux
          - os: macos-15
            mode: debug
            build_command: clang build.c -o build && ./build
            run_command: ./out/exe/unbox dep/ivm_testdata/reel/png out/data
            doctest_command: ./out/exe/doc_example_program
            artifact_name: unbox-debug-arm64-macos
          - os: macos-15
            mode: release
            build_command: clang -DRELEASE build.c -o build && ./build
            run_command: ./out/exe/unbox dep/ivm_testdata/reel/png out/data
            doctest_command: ./out/exe/doc_example_program
            artifact_name: unbox-release-arm64-macos
          - os: windows-2025
            mode: debug
            build_command: cmd.exe /c """C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"" -no_logo -arch=x64 -host_arch=x64 && cl.exe /nologo build.c && mt.exe -nologo -manifest dev/build/UTF8.manifest -outputresource:build.exe;#1 && build.exe"
            run_command: out/exe/unbox.exe dep/ivm_testdata/reel/png out/data
            doctest_command: out/exe/doc_example_program.exe
            artifact_name: unbox-debug-x86_64-win32
          - os: windows-2025
            mode: release
            build_command: cmd.exe /c """C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"" -no_logo -arch=x64 -host_arch=x64 && cl.exe /nologo -DRELEASE build.c && mt.exe -nologo -manifest dev/build/UTF8.manifest -outputresource:build.exe;#1 && build.exe"
            run_command: out/exe/unbox.exe dep/ivm_testdata/reel/png out/data
            doctest_command: out/exe/doc_example_program.exe
            artifact_name: unbox-release-x86_64-win32
    runs-on: ${{ matrix.os }}
    steps:
      - name: X11 development libraries
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: |
          sudo apt-get update
          sudo apt-get -y install libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: "recursive"
      - name: Build
        run: ${{ matrix.build_command }}
      - name: Upload debug binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: out/exe/*
      - name: Test
        run: ${{ matrix.run_command }}
      - name: Doc Test
        run: ${{ matrix.doctest_command }}
