name: CI
on: [push, pull_request]
jobs:
  build:
    name: Build & Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2025, macos-15]
        mode: [Debug, Release]
        include:
          - os: ubuntu-24.04
            mode: Debug
            artifact_name: unbox-debug-x86_64-linux
            artifact_files: |
              build/doc_example_program
              build/raw_file_to_png
              build/raw_viewer
              build/sha1
              build/unbox
              build/unbox.dot
          - os: ubuntu-24.04
            mode: Release
            artifact_name: unbox-release-x86_64-linux
            artifact_files: |
              build/doc_example_program
              build/raw_file_to_png
              build/raw_viewer
              build/sha1
              build/unbox
              build/unbox.dot

          - os: macos-15
            mode: Debug
            artifact_name: unbox-debug-arm64-macos
            artifact_files: |
              build/doc_example_program
              build/raw_file_to_png
              build/raw_viewer
              build/sha1
              build/unbox
              build/unbox.dot

          - os: macos-15
            mode: Release
            artifact_name: unbox-release-arm64-macos
            artifact_files: |
              build/doc_example_program
              build/raw_file_to_png
              build/raw_viewer
              build/sha1
              build/unbox
              build/unbox.dot

          - os: windows-2025
            mode: Debug
            artifact_name: unbox-debug-x86_64-win32
            artifact_files: |
              build/*.exe
              build/*.pdb

          - os: windows-2025
            mode: Release
            artifact_name: unbox-release-x86_64-win32
            artifact_files: |
              build/*.exe
              build/*.pdb

    runs-on: ${{ matrix.os }}
    steps:
      - name: X11 development libraries
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: |
          sudo apt-get update
          sudo apt-get -y install libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: "recursive"
      - name: Configure
        run: cmake -DCMAKE_BUILD_TYPE=${{ matrix.mode }} -Bbuild --graphviz=build/unbox.dot
      - name: Build
        run: cmake --build build --config ${{ matrix.mode }} -j
      - name: Upload debug binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.artifact_files }}
      - name: Test
        run: ctest --test-dir build -j2 --verbose
